.column-cm {
  border: none;
  right: 0;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.cmBox {
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

.cmName {
  background-color: #7baf36;
  padding: 10px;
  color: white;
  text-align: center;
}

.cmHdr {
  background-color: #0079d2;
  padding: 10px;
  color: white;
  text-align: center;
}

.cmAbout {
  padding: 10px;
  height: 200px;
}

.createPost {
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: #0079d2;
  padding: 5px;
  color: white;
  text-align: center;
  align-items: center;
  align-self: center;
  margin-bottom: 10px;
  font-size: large;
  text-decoration: none;
  tab-size: 20;
  width: 50%;
}
