.navbar {
  background-color: #576d94;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: cursive;
}

.navbar > div,
button,
a {
}

.title {
  margin-top: 15px;
  margin-left: 10px;
  font-size: large;
}

.searchBox {
  margin-left: 20%;
  display: flex;
  flex-direction: row;
}

.search {
  width: 40vh;
}

.go {
  height: 45px;
  width: 50px;
  border-radius: 10%;
  border: none;
  margin-left: 10px;
}

.go:hover {
  background: rgb(243, 84, 44);
  cursor: pointer;
}

.radio {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  margin-left: 20%;
}

.setting{
  text-decoration: none;
  color:darkgray
}