.column {
  border-radius: 10px;
  border: none;
  padding: 15px;
  right: 0;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.trend {
  background-color: rgb(47, 77, 105);
  font-family: cursive;
}

.trend h3 {
  text-align: center;
  margin-bottom: 10px;
  color: aliceblue;
}

.trend ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.trend li {
  padding: 8px;
  margin-bottom: 8px;
  background-color: rgb(195, 195, 224);
  color: #ffffff;
  border-radius: 10px;
  border: none;
}

.trend h5 {
  text-align: center;
  color: aliceblue;
  margin-top: 10px;
}

.create {
  background-color: rgb(47, 77, 105);
  font-family: cursive;
  margin-top: 15px;
}

.createBtn {
  padding: 5px;
  float: right;
  border-radius: 7px;
  border: none;
  margin-top: 5px;
}

.leftbar {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 130px;
  margin-right: 50px;
  width: 750px;
  margin-bottom: 10px;
}

.rightbar {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.allcont {
  display: flex;
  flex-direction: row;
  background-color: #eef5ff;
  min-height: 100vh;
}

.sortbar {
  border-radius: 10px;
  border: none;
  padding: 10px;
  background-color: rgb(195, 195, 224);
  background-size: cover;
  font-family: cursive;
  margin-bottom: 20px;
  margin-right: 50px;
  width: 700px;
  text-align: center;
}

.ic {
  margin-left: 20px;
}

.body-cm {
  height: 200px;
  width: 100%;
  font-size: 15px;
  margin-top: 5px;
  padding: 5px;
}

.cm {
  border-radius: 0;
  padding: 5px;
  font-size: 16px;
}

.hot {
  text-align: center;
  text-decoration: none;
  color: rgb(31, 49, 66);
  font-weight: bold;
}

.clock {
  color: rgb(53, 128, 128);
}

.cmnt {
  color: rgb(85, 109, 48);
}

.heart {
  color: red;
}
