.column {
  border-radius: 10px;
  border: none;
  padding: 15px;
  right: 0;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.trend {
  background-color: rgb(139, 139, 228);
  font-family: cursive;
  margin-top: 20px;
}

.trend h3 {
  text-align: center;
  margin-bottom: 10px;
  color: indigo;
}

.trend ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.trend li {
  padding: 8px;
  margin-bottom: 8px;
  background-color: #9bcee0;
  color: #ffffff;
  border-radius: 10px;
  border: none;
}

.trend h5 {
  text-align: center;
  color: aliceblue;
  margin-top: 10px;
}

.create {
  background-color: rgb(31, 49, 66);
  font-family: cursive;
  margin-top: 15px;
}

.createBtn {
  padding: 5px;
  float: right;
  border-radius: 7px;
  border: none;
  margin-top: 5px;
}

.leftbar {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.rightbar {
  display: flex;
  flex-direction: column;
}

.allcont {
  display: flex;
  flex-direction: row;
  background-color: #eef5ff;
}

.sortbar {
  border-radius: 10px;
  border: none;
  padding: 10px;
  background-color: rgb(195, 195, 224);
  background-size: cover;

  font-family: cursive;
  margin-bottom: 20px;
  margin-left: 150px;
  margin-right: 50px;
  width: 700px;
  text-align: center;
}

.ic {
  margin-left: 20px;
}

.viewBtn {
  padding: 10px;
  border-radius: 30px;
  border: none;
  text-align: center;
  align-self: center;
  margin-top: 10px;
  text-decoration: none;
  width: 50%;
  color: indigo;
}

.body-cm {
  height: 200px;
  width: 100%;
  font-size: 15px;
  margin-top: 5px;
  padding: 5px;
}
.cm {
  border-radius: 0;
  padding: 5px;
  font-size: 16px;
}
