.post {
  padding: 10px;
  background-color: rgb(19, 19, 114);
  font-family: cursive;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  width: 800px;
}

.footer {
  background-color: aquamarine;
}
.header {
  background-color: yellow;
}

/* .header {
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    width: 50%;
    font-family: cursive;
  } */

.content {
  background-color: green;
}
