.post {
  padding: 10px;
  background-color: rgb(223, 223, 223);
  margin-left: 150px;
  margin-right: 50px;
  width: 700px;
  font-family: serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer {
  padding: 5px;
  background-color: rgb(255, 184, 118);
}
.header {
  padding: 5px;
  background-color: rgb(255, 104, 17);
  display: flex;
  flex-direction: row;
}

.tab {
  padding: 6px 12px;
}

.content {
  padding: 5px;
  background-color: rgb(195, 195, 224);
}

.hrefs{
  text-decoration: none;
  color: black;
}


.header-com {
  padding: 5px;
  background-color: rgb(214, 214, 214);
  display: flex;
  flex-direction: row;
}
.content-com  {
  padding: 5px;
  background-color: rgb(241, 241, 241);
}
.footer-com {
  padding: 5px;
  background-color: rgb(255, 184, 118);
}

.com-box{
  width: 500px;
  margin-left: 250px;
  margin-top: 20px;
}

.postDetail{
  margin-top: 50px;
  align-items: center;
  align-self: center;
  align-content: center;
  margin-left:150px;
  
}