.row-sr {
  display: flex;
  flex-direction: row;
  background-color: rgb(226, 255, 255);
  min-height: 90vh;
}

.column-sr {
  display: flex;
  flex-direction: column;
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 20px;
  padding: 15px;
  background-color: rgb(93, 145, 145);
  border: none;
  border-radius: 10px;
  height: fit-content;
}

.left {
  width: 750px;
}

.mid {
  width: 380px;
}

.right {
  width: 200px;
}

.sr {
  color: white;
  margin-bottom: 10px;
  align-self: center;
}
